* {
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    margin: auto;
}

.header {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    background: #ffffff;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    width: 100%;
    height: 60px;
    margin-bottom: 2%;
}

.nav {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    width: 960px;
    margin-left: 10%;
}

.name {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    background: #4aaaa5;
    width: 150px;
    height: 30px;
    color: #ffffff;
    text-align: center;
    float: left;
    margin: 0 auto;
    overflow: auto;
    padding: 15px;
    margin-left: 0;
    
    
}



body {
    background-image:  url("../images/background.png")
}




.contact {
    float: right;
    color: gray;
    margin-right: 0;
    padding: 10px;
    height: 35px;
    padding: 20px;

    
   
}

.portfolio {
    float: right;
    color: gray;
    margin-left: 0%;
    height: 35px;
    padding: 20px;
    
  
}


.about {
    float: right;
    color: gray;
    margin: auto;
    height: 35px;
    padding: 20px;

}

.container {
    width: 895px;
    /* Due to padding I had to decrease the width for equal alignment with the nav */
    margin-left: 10%;
    overflow: auto;
    background: white;
    padding: 25px;


}

a {
    color: inherit;
    text-decoration: none;
}


#containerheader {
    font-family: "Georgia", "Times", "Times New Roman", serif;
    color: #4aaaa5;
    margin-top: 5px;
}

.inside {
    border-top-width: 20px;
}

#username {
    padding-bottom: 4px;
}

#email {
    padding-bottom: 4px;
}

#message {
    padding-bottom: 4px;
}
p {
    line-height: 1.5;
}


footer {
    background: #666666;
    padding: 20px;
    border-color: #4aaaa5;
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 980px) {
    .container {
        width: 60%
    }

    .header {
        width: 980px;
    }

    .nav {
        width: 980px;
    }

    .contact {
        margin-right: 10%;
    }

    textarea {
        width: 620px;
    }

}

@media screen and (max-width:768px) {
* {
    max-width: 768px;
}

    .header {
        max-width: 768px;
    }

    .container {
        width: 680px;
        max-width: 768px;
        margin-left: 0;
        margin-left: 2%;
        margin-right: 2%;
    }

    body {
        width: 768px;
    }

    footer {
        width: 768px;
    }

    .nav {
        width: 720px;
        max-width: 768px;
        margin-left: 2%;
        margin-right: 2%;
    }

    
}

@media screen and (max-width:640px) {
    .name {
        position: static;
        width: 100%;
        margin-left: 0%;
        max-width: 640px;
        left: 0;
    }

    .header {
        padding: 0;
        margin: 0;
        max-width: 640px;
        width: 0px;

    }

    body {
        max-width: 640px;
    }

    .nav {
        padding: 0;
    }

    .about, .contact, .portfolio {
        float: center;
    }

    .contact {
       margin-right: 35%;
    }

    .portfolio {
        float: center;
    }

    textarea {
        width: 500px;
    }
    

    .container {
        width: 560px;
        max-width: 640px;
        margin-left: 0;
        margin-left: 2%;
        margin-right: 2%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    footer {
        width: 640px;
    }



}